<div class='.container sticky-top shadow bg-light m-3'>
    <div class='row justify-content-between row-cols-auto'>
        <div class='col'>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid mt-3">
                    <a class="navbar-brand h1" href="/">Kirubel Adamu</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="{{currentUrl=='/' ? 'nav-link active' : 'nav-link'}}" aria-current="page"
                                    routerLink='/'>Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="{{currentUrl=='/projects' ? 'nav-link active' : 'nav-link'}}"
                                    routerLink="/projects">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="{{currentUrl=='/skills' ? 'nav-link active' : 'nav-link'}}"
                                    routerLink="/skills">Skills</a>
                            </li>
                            <li class="nav-item">
                                <a class="{{currentUrl=='/opinions' ? 'nav-link active' : 'nav-link'}}"
                                    routerLink="/opinions">Opinions</a>
                            </li>
                            <li class="nav-item">
                                <a class="{{currentUrl=='/about' ? 'nav-link active' : 'nav-link'}}"
                                    routerLink="/about">About</a>
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>
        </div>
        <!-- <div class='col ms-3 mt-1 me-3'>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <div class='btn btn-primary'>Search Project</div>
    </form>
</div> -->
    </div>
</div>