<a routerLink="/" class="btn btn-primary m-3">Return to Home</a>
<div class="accordion m-2" id="aboutAccordion">
  <div class="accordion-item m-1">
    <h2 class="accordion-header" id="earlyLifeHeader">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#earlyLifeBody"
        aria-expanded="true" aria-controls="earlyLifeBody">
        <h5>Early Life</h5>
      </button>
    </h2>
    <div id="earlyLifeBody" class="accordion-collapse collapse show" aria-labelledby="earlyLifeHeader">
      <div class="accordion-body">
        {{aboutInfo.earlyLife}}
      </div>
    </div>
  </div>
  <div class="accordion-item m-1">
    <h2 class="accordion-header" id="workHistoryHeader">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#workHistoryBody"
        aria-expanded="true" aria-controls="workHistoryBody">
        <h5>Work History</h5>
      </button>
    </h2>
    <div id="workHistoryBody" class="accordion-collapse collapse show" aria-labelledby="workHistoryHeader">
      <div class="accordion-body">
        {{aboutInfo.workHistory}}
      </div>
    </div>
  </div>
  <div class="accordion-item m-1">
    <h2 class="accordion-header" id="passionHeader">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#passionBody"
        aria-expanded="true" aria-controls="passionBody">
        <h5>Passion and Long Term Goals</h5>
      </button>
    </h2>
    <div id="passionBody" class="accordion-collapse collapse show" aria-labelledby="passionHeader">
      <div class="accordion-body">
        {{aboutInfo.passionAndGoal}}
      </div>
    </div>
  </div>
</div>