<!-- <a class='btn btn-primary ms-5 mt-5' routerLink="..">Go Back</a> -->
<div class='card m-5'>
  <div class='column'>
    <div class='container-fluid d-flex justify-content-center bg-dark'>
      <video height="400px" src="http://localhost:5000/{{project.video}}" autoplay=true controls>
      </video>
    </div>
    <div class='card mb-2'>
      <div class='card-header'>
        <h2>{{project.title}}</h2>
      </div>
      <div class='card-body'>
        <h6 class='display-6'>{{project.short_description}}</h6>
      </div>
    </div>
    <div class=".container">
      <div class="row">
        <div class="col-lg-6">
          <div class='card mb-2'>
            <div class='card-header'>
              <h2>Details</h2>
            </div>
            <div class='card-body'>
              <div class="row m-2">
                <div class="col-sm-4">Made with:</div>
                <div class="col-sm-8  ">
                  <span class='badge bg-success rounded-pill me-2'
                    *ngFor="let made of project.made_with">{{made}}</span>
                </div>
              </div>
              <div class="row m-2">
                <div class="col-sm-4">Supported Platforms:</div>
                <div class="col-sm-8">
                  <span class='badge bg-success rounded-pill me-2'
                    *ngFor="let platform of project.platforms">{{platform}}</span>
                </div>
              </div>
              <div class="row m-2">
                <div class="col-sm-4">GitHub Repository:</div>
                <div class="col-sm-8">
                  <span>
                    <a href="http://{{project.github}}" target="_blank" rel="noopener noreferrer">
                      Click here</a></span>
                </div>
              </div>
              <div class="row m-2">
                <div class="col-sm-4">Playstore Link:</div>
                <div class="col-sm-8">
                  <span>
                    <a href="http://{{project.playstore}}" target="_blank" rel="noopener noreferrer">
                      Click here</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class='card mb-2'>
            <div class='card-header'>
              <h2>Images</h2>
            </div>
            <div class='card-body'>
              <div class=".container-fluid">
                <div class="row row-cols-auto">
                  <div class='col' *ngFor='let image of project.images'>
                    <img src="http://localhost:5000/{{image.src}}" alt="Image not found" width="200px" />
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>






  </div>
</div>