<div class="container-fluid">
    <div class="card m-1 p-3" *ngFor='let opinion of opinions'>
        <figure>
            <h4 class='h4'>{{opinion.title}}</h4>
            <figcaption class="blockquote-footer p-2">
                {{opinion.date}}
            </figcaption>
            <blockquote class="blockquote">
                <p><em>{{opinion.content.substring(0,700)}}</em><span *ngIf='opinion.content.length>700'> . . .<div
                            class="btn btn-link" (click)="navigate(opinion.id)">Continue</div></span></p>
            </blockquote>

        </figure>
    </div>

</div>