<div class='.container'>
<div class='row'>
    <div class='col-lg-6'>
        <div class='card m-3'>
            <div class='card-header'>
                <h5>My Skills</h5>
            </div>
            <div class='card-body'>
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start"
                        *ngFor="let skill of skills">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{skill.title}}</div>
                            {{skill.description}}
                        </div>
                    </li>


                </ol>
                <div class='btn btn-primary m-3' routerLink = '/skills'>More</div>
            </div>
        </div>
    </div>
    <div class='col-lg-6'>
        <div class='card m-3'>
            <div class='card-header'>
                <h5>Companies I have worked with</h5>
            </div>
            <div class='card-body'>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start"
                        *ngFor="let company of companies">
                        <div class="ms-2 me-auto">
                            <a href= "http://{{company.website}}" target="_blank" rel="noopener noreferrer"><div class="fw-bold">{{company.name}}</div></a>
                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>